@font-face {
    font-family: "TakaoPMincho";
    src: url("/fonts/TakaoPMincho.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TakaoPGothic";
    src: url("/fonts/TakaoPGothic.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: "TakaoPMincho", serif; /* Silly, but I want it all serifed rn and idc about procedure this is MY webbed site */
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

footer {
    margin-top: auto;
}

ol, li {
    padding-left: 1rem;
}

table {
    border-collapse: collapse;
}

td, th {
    padding: 5px;
}

.page-header {
    margin: 20px;
    margin-bottom: 0;
}

.blog-body {
    margin: 30px;
    font-size: 14pt;
    max-width: 1000px;
    line-height: 1.5;
}

.footnotes {
    margin: 20px;
    margin-bottom: 30px;
}

#sum-row > td {
    border-top: 1px solid black;
}
